/* Common styles for both mobile and desktop */
.expense-tracker {
  width: 100vw;
  display: flex;
  flex-direction: column; /* Changed to column for smaller screens */
  justify-content: center;
  align-items: center;
  color: #023047;
}

.expense-tracker h1 {
  font-size: 36px; /* Adjusted font size for smaller screens */
}

.expense-tracker button {
  margin-top: 10px; /* Increased top margin for separation on smaller screens */
  margin-left: 0; /* Removed left margin for better centering on smaller screens */
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0; /* Adjusted margin for better spacing on smaller screens */
}

.profile-photo {
  width: 150px; /* Reduced photo size for smaller screens */
  border-radius: 50%;
}

.sign-out-button {
  margin-top: 20px; /* Increased top margin for separation on smaller screens */
  width: 120px; /* Reduced button width for smaller screens */
  font-size: 18px; /* Adjusted font size for smaller screens */
  padding: 8px 16px; /* Adjusted padding for smaller screens */
}
.transactions {
  display: grid;
  align-items: center;
  justify-content: center;
}
/* Media query for screens up to 768px width (typical tablets) */
@media (max-width: 768px) {
  .profile {
    margin: 10px 0; /* Further reduced margin for better spacing on smaller screens */
  }

  .profile-photo {
    width: 120px; /* Further reduced photo size for smaller screens */
  }

  .sign-out-button {
    width: 100px; /* Further reduced button width for smaller screens */
    font-size: 16px; /* Further reduced font size for smaller screens */
    padding: 6px 12px; /* Further adjusted padding for smaller screens */
  }
}

/* Media query for screens up to 480px width (typical mobile devices) */
@media (max-width: 480px) {
  .expense-tracker h1 {
    font-size: 24px; /* Adjusted font size for even smaller screens */
  }

  .expense-tracker button {
    margin-top: 15px; /* Further increased top margin for better spacing on smaller screens */
  }

  .profile-photo {
    width: 80px; /* Further reduced photo size for even smaller screens */
  }

  .sign-out-button {
    width: 80px; /* Further reduced button width for even smaller screens */
    font-size: 14px; /* Further reduced font size for even smaller screens */
    padding: 5px 10px; /* Further adjusted padding for even smaller screens */
  }
}
